pkgbase = words
	pkgdesc = A collection of International 'words' files for /usr/share/dict
	pkgver = 2.1
	pkgrel = 8
	url = https://ftp.gnu.org/gnu/aspell/dict/0index.html
	install = words.install
	arch = any
	license = GPL-2.0-only
	license = LicenseRef-Ispell
	license = LicenseRef-SCOWL
	makedepends = aspell
	makedepends = glibc
	source = https://ftp.gnu.org/gnu/aspell/dict/en/aspell6-en-2020.12.07-0.tar.bz2
	source = https://ftp.gnu.org/gnu/aspell/dict/en/aspell6-en-2020.12.07-0.tar.bz2.sig
	source = https://ftp.gnu.org/gnu/aspell/dict/ca/aspell6-ca-2.1.5-1.tar.bz2
	source = https://ftp.gnu.org/gnu/aspell/dict/ca/aspell6-ca-2.1.5-1.tar.bz2.sig
	source = https://ftp.gnu.org/gnu/aspell/dict/fi/aspell6-fi-0.7-0.tar.bz2
	source = https://ftp.gnu.org/gnu/aspell/dict/fi/aspell6-fi-0.7-0.tar.bz2.sig
	source = https://ftp.gnu.org/gnu/aspell/dict/fr/aspell-fr-0.50-3.tar.bz2
	source = https://ftp.gnu.org/gnu/aspell/dict/de-alt/aspell6-de-alt-2.1-1.tar.bz2
	source = https://ftp.gnu.org/gnu/aspell/dict/de-alt/aspell6-de-alt-2.1-1.tar.bz2.sig
	source = https://ftp.gnu.org/gnu/aspell/dict/it/aspell6-it-2.2_20050523-0.tar.bz2
	source = https://ftp.gnu.org/gnu/aspell/dict/it/aspell6-it-2.2_20050523-0.tar.bz2.sig
	source = https://ftp.gnu.org/gnu/aspell/dict/de/aspell-de-0.50-2.tar.bz2
	source = https://ftp.gnu.org/gnu/aspell/dict/es/aspell6-es-1.11-2.tar.bz2
	source = https://ftp.gnu.org/gnu/aspell/dict/es/aspell6-es-1.11-2.tar.bz2.sig
	validpgpkeys = 78DEC3DB0AEA763951322BBF71C636695B147849
	validpgpkeys = 31A768B0808E4BA619B48F81B6D9D0CC38B327D7
	sha256sums = 4c8f734a28a088b88bb6481fcf972d0b2c3dc8da944f7673283ce487eac49fb3
	sha256sums = SKIP
	sha256sums = ebdae47edf87357a4df137dd754737e6417452540cb1ed34b545ccfd66f165b9
	sha256sums = SKIP
	sha256sums = f8d7f07b4511e606eb56392ddaa76fd29918006331795e5942ad11b510d0a51d
	sha256sums = SKIP
	sha256sums = f9421047519d2af9a7a466e4336f6e6ea55206b356cd33c8bd18cb626bf2ce91
	sha256sums = 36d13c6c743a6b1ff05fb1af79134e118e5a94db06ba40c076636f9d04158c73
	sha256sums = SKIP
	sha256sums = 3b19dc709924783c8d87111aa9653dc6c000e845183778abee750215d83aaebd
	sha256sums = SKIP
	sha256sums = f1b6f23d694fc12da193de5d5d2232797e87aecf684d8aa5872d83176eeb84ba
	sha256sums = ad367fa1e7069c72eb7ae37e4d39c30a44d32a6aa73cedccbd0d06a69018afcc
	sha256sums = SKIP

pkgname = words
